<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">CRUD Developer</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link to="/developers" class="nav-link">Inicio</router-link>
        </li>
      </div>
    </nav>

    <router-view />
  </div>
</template>

<style scoped>
</style>

<script>
export default {
  name: 'App'
}
</script>

